[Unit]
Description=statsite stats aggregator
After=network.target

[Service]
Type=forking
User=statsite
Group=statsite
PIDFile=/var/run/statsite/statsite.pid
ExecStart=/usr/sbin/statsite -f /etc/statsite/statsite.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
